body { margin:0px; font-family: "Verdana","Trebuchet MS"; color: #000000; font-size:10pt; line-height:140%; text-align:justify; }
h1 { color:#004d80; font-size:110%; margin-bottom:.6em; }
h2 { color:#004d80; font-size:90%; margin-bottom:.75em; }
h3 { color:#004d80; font-size:85%; margin-bottom:0em; padding-bottom:0em; }
p { margin: 1px; padding: 0px; padding-right:2em; }
ul { margin-left: 1em; margin-top:.25em; margin-bottom:.25em; }
li { font-family: "Verdana","Trebuchet MS"; margin: 1px; padding: 0px; padding-bottom:0.25em; }
small {line-height:133%; font-size:85%; }

blockquote { padding:0.5em; margin-left:1em; margin-top:0.5em; margin-bottom:0.5em; font-size:85%; border-left: 1em #cccccc solid; padding-left:1em; background-color:#f7f7f7; }

code { font-family: "Lucida Sans Console","Lucida Sans Typewriter","Courier New","Courier"; color:#004d80; }
hr { color:#004d80; }

table { margin:0px; padding:0px; border-width:0px; border-spacing:0pt; }
tr { margin:0px; padding:0px; border-width:0px;  }
td { margin:0px; padding:0px; border-width:0px; border-style:solid;}
td { padding-right:1em; }

a.internal { font-weight:bold; color:#336699; text-decoration:none; border-bottom:1px dotted; }

.done {color:#666666; }
.updated { font-size:80%; color:#444444; }
.new { font-size:110%; color:#ff0000; background-color:#ffcc00; }
.fixed { color:#fffffF; background-color:#000000; }
.amended { padding-left:+0.5em; border-left: 3px #ff0000 solid; }

.sidebar { background-color:black; padding-left:0.5em; font-size:9pt; color:white; font-weight:bold; text-align:left; }
.sidebaritem { margin-left:2em; padding-top:0.25em; background-color:#000000; font-size:95%; letter-spacing:-1px;}
.sidebaritem a { color:#ddddff; font-weight:normal; text-decoration:none; letter-spacing:0px;}
.sidebaritem a:hover { color:#ffffff; font-weight:normal; text-decoration:none; border-bottom:1px dashed; }

.text { padding-left:2em; }

table.black { color:#aaddff; background:black; padding:0px; margin:0px; border-width:0px; }
table.black a { color:#77bbdd; }

table.contents { margin-top:2em; margin-bottom:2em; background-color:#bbddff; text-align:center; border:thin #88bbee solid; }
td.contents { padding:0.5em; border-width:0px; }
td.contents a { text-decoration:none; letter-spacing:+1px; }

pre { background-color:#eeeeee;
  color:#000000;
  padding: .25em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 10pt;
  line-height:120%;
  font-family: "Lucida Sans Console","Lucida Sans Typewriter","Courier New","Courier";
  border:dashed 1px #888888;
  white-space: pre;
  overflow:auto;
}
.cmd { color:#0000cc; }
.func { color:#008800; }
.var { color:#880088; }
.cmt { color:#666666; }
code.func { color:#008800; }
code.var { color:#660066; }

.hang {
  margin-left: 2em;
  text-indent: -2em;
}

#footer {
  padding:0px;
  margin:0px;
  background-color:#ffffff;
  color:#000000;
}

#footer p {
  font-size:8pt;
}

#footer a {
  color:#336699;
  font-weight:normal;
}
/*
     FILE ARCHIVED ON 07:13:57 Nov 09, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:23:44 Jun 07, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 244.144
  exclusion.robots: 0.097
  exclusion.robots.policy: 0.086
  cdx.remote: 0.059
  esindex: 0.01
  LoadShardBlock: 220.1 (3)
  PetaboxLoader3.datanode: 51.148 (4)
  load_resource: 50.184
  PetaboxLoader3.resolve: 31.415
*/